@use "../../../assets/scss/helpers/var" as *;

.inputSite {
  transition: $trans !important;
  border: none !important;
  margin-right: 15px;

  &:focus {
    box-shadow: $strong-box-shadow !important;
    border: none !important;
  }
}

.searchParent {
  position: relative;
}

.autocom {
  background-color: #212529;
  color: #fff;
  width: 100%;
  position: absolute;
  top: 55px;
  left: 0;
  z-index: 60000;
  padding: 10px;
  h5 {
    text-align: center;
  }
}

.papa {
  text-align: left;
  padding: 10px 15px;
  span {
    width: max-content;
    cursor: pointer;
    color: white !important;
    &:hover {
      border-bottom: 1px solid rgba($main-color, 0.7);
    }
  }
}
