@use "../../../../assets/scss/helpers/var" as *;

.categoryCard {
  cursor: pointer;
  transition: .3s;
  align-items: center;
  height: 160px;
  width: 160px !important;

  .categoryName {
    color: $main-color;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    margin-top: 10px;
  }

  &:hover {
    box-shadow: $main-box-shadow;
    transform: scale(1.1);
    transform: translateY(10px);
  }
}

.image {
  width: 100% !important;
  height: 90px;
}