@use "../../../assets/scss/helpers/global" as *;

.productImage {
  width: 150px !important;
  transition: all 0.3s;
  display: block;
  height: 200px !important;
  @extend .center;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}