@use "var" as *;

body {
  overflow-x: hidden;
  transition: $trans;
}

// for center
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

// to center position relative | fixed
.center-pos {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// important styles for any .btn class
.btn {
  border: none !important;
  border-radius: 0px !important;

  &:focus {
    box-shadow: none;
  }
}

// remove focus shadow for any .btn class
.btn.none {
  &:focus {
    box-shadow: none !important;
  }
}

// handling row element when the screen will be phone
@media (max-width: 577px) {
  .row {
    justify-content: center !important;
    align-items: center !important;
  }
}

// to remove any text under the a element
a {
  text-decoration: none !important;
}

// when link is active
.active {
  border: none !important;
  background-color: rgba($main-color, 0.5) !important;
}

.swiper-pagination-bullet-active {
  background: $main-color !important;
}