@use "var" as *;

body {
  overflow-x: hidden;
  transition: $trans;
}

#root {
  min-height: 80vh;
}

// for center
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

// to center position relative | fixed
.center-pos {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// important styles for any .btn class
.btn {
  border: none !important;
  border-radius: 0px !important;

  &:focus {
    box-shadow: none;
  }
}

// remove focus shadow for any .btn class
.btn.none {
  &:focus {
    box-shadow: none !important;
  }
}

// handling row element when the screen will be phone
@media (max-width: 577px) {
  .row {
    justify-content: center !important;
    align-items: center !important;
  }
}

// to remove any text under the a element
a {
  text-decoration: none !important;
}

// when link is active
.active {
  border: none !important;
  background-color: rgba($main-color, 0.5) !important;
  border-radius: 7px !important;
}

// swiper bullets
.swiper-pagination-bullet-active {
  background: $main-color !important;
}

// remove all fav button
.linkStyle {
  color: $main-color;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  &:hover {
    color: #000 !important;
  }
}

// for forms
.onboardBanner {
  width: 100% !important;
  height: auto;
  object-fit: cover;
  padding: 10px 55px;
  h2 {
    text-align: center;
    display: block;
  }
}

// title for navmenu
.appTitle {
  font-weight: 700;
  text-align: center;
}

#footer {
  margin-bottom: 60px !important;
}

.text-less-danger {
  color: #ff6600 !important;
}

.background-games {
  background: url(https://wallpaperaccess.com/full/2108011.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white !important;
}

.mt-pages {
  margin-top: 11rem !important;
}

.search_items_container {
  position: absolute;
  top: 69px !important;
  background-color: #212529;
}

.normalText {
  color: white !important;
  &:hover {
    color: inherit !important;
  }
}

.notfound_img {
  background-image: url(https://img.freepik.com/free-vector/freelancer-working-laptop-her-house_1150-35054.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  h3 {
    color: $main-color;
    background-color: rgba(black, 0.3);
    padding: 5px 10px;
  }
}

.img_cart_load {
  width: 100% !important;
  height: 35px !important;
}

// loading
.loading {
  animation: loader 0.6s infinite;
}

@keyframes loader {
  0% {
    transform: rotate(360deg);
  }
}
