$main-color-dark: #b8405e;
$main-color: #6a5495;
$second-color: #051b35;

// shadows
$main-box-shadow: 0 0 10px 1px rgba($main-color, 0.7);
$strong-box-shadow: 0 0 10px 2.5px rgba($main-color, 0.9);

// global
$trans: 0.3s;
$main-font: "Roboto Condensed", sans-serif;
